

h1{
  
  display: flex;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 70px;
font-weight: bolder;
color:  #2A4466;;

}
.container{
  height: 340px;
 margin-left: 150px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-template-areas: "img1 img2 img3 img4"
                         "stat1 stat2 stat3 stat4 "
                         "ecriture1 ecriture2 ecriture3 ecriture4"
 
}
.img1{
grid-area: img1;
}
.img2{
  grid-area: img2;
}
.img3{
  grid-area: img3;
}
.img4{
  grid-area: img4;
}
.stat1{
grid-area: stat1;
font-weight: bold;
font-size: 70px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: #2A4466;

}
.stat2{
  grid-area: stat2;
  font-weight: bold;
  font-size: 70px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #2A4466;
  

}
.stat3{
  grid-area: stat3;
  font-weight: bold;
font-size: 70px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: #2A4466;


}
.stat4{
  grid-area: stat4;
  font-weight: bold;
font-size: 70px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: #2A4466;


}
.ecriture1{
  grid-area: ecriture1;
  font-weight: bold;
font-size: 30px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: #2A4466;

}
.ecriture2{
  grid-area: ecriture2;
  font-weight: bold;
font-size: 30px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: #2A4466;

}
.ecriture3{
  grid-area: ecriture3;
  font-weight: bold;
font-size: 30px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: #2A4466;

}
.ecriture4{
  grid-area: ecriture4;
  font-weight: bold;
  font-size: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #2A4466;

}
.img5{
width: 100vw;
background-color: #2A4466;
position: relative;
display: inline-block;
}
h2{
  position: absolute;
  top: 10%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
 font-size: 70px;
  color: #fff; 
  padding: 10px 20px; 

  text-align: center;
  
}
.container2{
  padding-top: 20px;

  background-color:  #17273B;
  ;
  height: 500px;
  width: 100vw;
  display: grid;
  grid-template-columns:repeat(2,1fr);
  grid-template-rows: 100px 100px 100px 100px;
   grid-template-areas: "part1 part2"
                        "part1 part3"
                        "part1 part4"
                        "part1 part5"


  
}
.part1{
  color: #fff;
  grid-area: part1;
}
.part2{
  color: #fff;
  grid-area: part2;
  font-size: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.part3{
  color: #fff;
  grid-area: part3;
  font-size: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.part4{
  color: #fff;
  grid-area: part4;
  font-size: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.part5{
  color: #fff;
  grid-area: part5;
  display: flex;
  gap: 15px;
}
.footer{
  font-size: 20px;
  color: #fff;
  display: flex;
  justify-content: center;
  background-color: #17273B;
}





@media only screen and (max-width: 900px) {



  .container{
  
    margin-right: 30px;
    row-gap: 20px;
    column-gap: 40px;
margin-bottom: 260px;
   margin-left: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: "img1 img2  "
                           "stat1 stat2  "
                           "ecriture1 ecriture2 "
                           "img3 img4  "
                           "stat3 stat4  "
                           "ecriture3 ecriture4 "
                           
   
  }
  .img1{
    grid-area: img1;
    }
    .img2{
      grid-area: img2;
    }
    .img3{
      grid-area: img3;
    }
    .img4{
      grid-area: img4;
    }
    .stat1{
    grid-area: stat1;
    font-weight: bold;
    font-size: 70px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #2A4466;
    
    }
    .stat2{
      grid-area: stat2;
      font-weight: bold;
      font-size: 70px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: #2A4466;
      
    
    }
    .stat3{
      grid-area: stat3;
      font-weight: bold;
    font-size: 70px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #2A4466;
    
    
    }
    .stat4{
      grid-area: stat4;
      font-weight: bold;
    font-size: 70px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #2A4466;
    
    
    }
    .ecriture1{
      grid-area: ecriture1;
      font-weight: bold;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #2A4466;
    
    }
    .ecriture2{
      grid-area: ecriture2;
      font-weight: bold;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #2A4466;
    
    }
    .ecriture3{
      grid-area: ecriture3;
      font-weight: bold;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #2A4466;
    
    }
    .ecriture4{
      grid-area: ecriture4;
      font-weight: bold;
      font-size: 30px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: #2A4466;
    
    }
    .img5{
   margin-top: 50px;
    width: 100vw;
    background-color: #2A4466;
    position: relative;
    display: inline-block;
    }

    .container2{
      padding-top: 20px;
      padding-bottom: 40px;
      background-color:  #17273B;
      
      height: 100vh;
      width: 100vw;
      display: grid;
      grid-template-columns:repeat(1,1fr);
      grid-template-rows: repeat(5,1fr) ;
       grid-template-areas: "part1 "
                            "part2" 
                            "part3" 
                            "part4" 
                            "part5"
                           
    
    
      
    }
    .part1{
      color: #fff;
      grid-area: part1;
    }
    .part2{
      color: #fff;
      grid-area: part2;
      font-size: 20px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .part3{
      color: #fff;
      grid-area: part3;
      font-size: 20px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    }
    .part4{
      color: #fff;
      grid-area: part4;
      font-size: 20px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    }
    .part5{
      color: #fff;
      grid-area: part5;
      display: flex;
      
      gap: 5px;
    }
    .footer{
     
      width: 100vw;
      font-size: 20px;
      color: #fff;
      display: flex;
 
      justify-content: center;
      background-color: #17273B;
    }
    
    
    
    
    



}